.bui-tab-bar {
  --width: var(--bui-tab-bar-width, 100%);
  --height: var(--bui-tab-bar-height, 50px);
  --padding: var(--bui-tab-bar-padding, 6px 0);
  --bui-tab-bar-color: var(
    --bui-tab-bar-default-color,
    var(--bui-color-fg-default)
  );

  display: flex;
  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  background: var(--bui-color-white);
  font-family: var(--bui-font-family);
}
