.bui-list {
  --small-item-padding: var(--bui-list-small-item-padding, 5px 12px);
  --medium-item-padding: var(--bui-list-medium-item-padding, 18px 12px);
  --large-item-padding: var(--bui-list-large-item-padding, 20px 12px);
  background: var(--bui-color-bg-view);
  font-size: var(--bui-title-size-3);
  font-family: var(--bui-font-family);
  list-style: none;
}

.bui-list .bui-divider:last-of-type {
  display: none;
}
