# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json
# production
dist
es
umd
umd-main
/dist
/docs-dist
.history
/website/pages/dist/**
# misc
.DS_Store
yarn.lock


# ide
/.idea
coverage/
*.history
.node
.vscode


.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
# backstop
backstop_data/bitmaps_test
backstop_data/html_report
.ci/


/.ci
/.dumi/tmp
/.vscode
/inspect.json
/inspect.html

project.private.config.json
.tgz
.env
