.bui-action-sheet {
  --extra-line-height: var(--bui-action-sheet-extra-line-height, 23px);
  --extra-padding: var(--bui-action-sheet-extra-padding, var(--bui-spacing-xl));
  --extra-margin: var(--bui-action-sheet-extra-margin, 0 var(--bui-spacing-xl));
  font-family: var(--bui-font-family);

  &-content {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    border-top-left-radius: var(--bui-shape-radius-drawer);
    border-top-right-radius: var(--bui-shape-radius-drawer);
    overflow: hidden;
  }

  .bui-action-sheet-cancel {
    border-top: none;
  }

  &-gap {
    height: var(--bui-spacing-md);
    background-color: var(--bui-color-bg-default);
  }

  &-extra {
    font-size: var(--bui-text-size-1);
    line-height: var(--extra-line-height);
    padding: var(--extra-padding);
    color: var(--bui-color-fg-muted);
    background: var(--bui-color-bg-view);
    text-align: center;
    border-bottom: 1px solid var(--bui-color-border-default);
    margin: var(--extra-margin);
  }
}
