.bui-theme-designer {
  --gray-color-1: rgba(28, 31, 35, 0.62);

  .theme-mode {
    display: flex;
    font-size: var(--bui-text-size-1);
    color: var(--gray-color-1);

    .theme-mode-item {
      padding-bottom: var(--bui-spacing-md);
      margin-right: 40px;
      cursor: pointer;

      &:last-child {
        padding-right: 0;
      }
    }

    .is-active {
      color: rgb(22, 93, 255);
      font-weight: var(--bui-font-weight-bold);
      border-bottom: 1px solid rgb(22, 93, 255);
    }
  }
}

.theme-playground {
  display: flex;
}

.theme-mode-builtIn {
  width: fit-content;
  display: flex;
  padding: var(--bui-spacing-xs);
  color: var(--gray-color-1);
  font-size: var(--bui-text-size-1);
  background: var(--bui-color-neutral-6);
  border-radius: var(--bui-shape-radius-label);
  cursor: pointer;
}

.theme-mode-builtIn-item {
  padding: var(--bui-spacing-xs) var(--bui-spacing-lg);
  border-radius: var(--bui-shape-radius-label);

  &.is-active {
    color: rgb(22, 93, 255);
    background: var(--bui-color-white);
  }
}

.theme-css-vars {
  flex: none;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.theme-tabs {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--bui-spacing-lg);
  border-bottom: var(--bui-color-neutral-6) solid 1px;
}

.theme-tab-switch {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.theme-css-var-operators {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: var(--gray-color-1);
}

.theme-css-var-operator {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.theme-css-var-items {
  flex: auto;
  margin-top: var(--bui-spacing-lg);
  padding-right: var(--bui-spacing-md);
  color: var(--gray-color-1);
  overflow: auto;
}

.theme-css-var-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--bui-text-size-3);
  border: 1px solid var(--bui-color-neutral-6);
  border-radius: var(--bui-shape-radius-label);
  padding: var(--bui-spacing-md) var(--bui-spacing-lg);
  margin-bottom: var(--bui-spacing-lg);

  &:hover {
    border-color: rgb(22, 93, 255);

    .theme-css-var-item-value-edit-icon {
      display: block;
    }
  }
}

.theme-css-var-item-value-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: var(--bui-color-neutral-6);
}

.theme-css-var-item-token {
  margin-right: var(--bui-spacing-lg);
  flex: none;
}

.theme-css-var-item-value {
  flex: none;
  position: relative;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.theme-css-var-item-value-edit-icon {
  position: absolute;
  left: -10px;
  transform: translateX(-100%);
  display: none;
  cursor: pointer;
}

.theme-css-var-item-value-color {
  display: flex;
  align-items: center;

  &:hover {
    .theme-css-var-item-value-color-text {
      display: block;
    }
  }
}

.theme-css-var-item-value-color-text {
  margin-right: 8px;
  display: none;
}

.theme-css-var-item-value-color-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 14px #0000001a;
}

.theme-css-canvas {
  overflow: auto;
  flex: auto;
  padding: 0 var(--bui-spacing-lg);
}

.custom-theme-operator {
  & .bui-select {
    width: 200px;
    color: var(--gray-color-1);
    height: 36px;
    background-color: var(--bui-color-neutral-6);
  }
}

.bui-select-option-container {
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 3px 5px 10px var(--bui-color-border-default);
}

.custom-wrapper {
  display: flex;
  align-items: center;

  .go-component {
    cursor: pointer;
    font-size: var(--bui-text-size-3);
    color: var(--bui-color-info);
    text-decoration: none;
  }
}

.scrollbar {
  --scroll-bar-background: transparent;

  &:hover {
    --scroll-bar-background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-background);
    border-radius: 4px;
  }
}
