@prefix: dumi-default;

/* 尺寸表 */
@s-content-width: 1392px;
@s-content-padding: 48px;
@s-sidebar-width: 324px;
@s-toc-width: 160px;
@s-header-height: 64px;
@s-header-height-m: 52px;
@s-header-icon-width: 180px;

/* 颜色表 - 对齐 pioneer 主题色 */
@c-primary: #ff5000;
@c-primary-light: #ffede5;
@c-warning: #ffa608;
@c-success: #40bf00;
@c-error: #ff471a;
@c-text: #1a1a1a;
@c-text-secondary: #1a1a1a;
@c-text-grey: #8a8a8a;
@c-text-note: #8a9099;
@c-border: #eaeaea;
@c-border-light: #f0f0f0;
@c-site-bg: #ffffff;
@c-bg-grey: #f7f7f8;
@c-bg-source-code: #fafafa;
@c-bg-inline-code: rgba(255, 80, 0, 0.06);

/* 颜色表 - dark */
@c-header-bg-dark: rgba(10, 25, 41, 0.7);
@c-site-bg-dark: #161b22;
@c-text-dark: #f0f6fc;
@c-border-dark: #30363d;
@c-primary-dark: #ff5000;
@c-light-bg-dark: rgba(255, 255, 255, 0.08);
@c-text-secondary-dark: #f0f6fc;

@dark-solid-amount: 15%;
@dark-light-amount: 22%;
@dark-border-amount: 71%;
@c-warning-dark: darken(@c-warning, @dark-solid-amount);
@c-success-dark: darken(@c-success, @dark-solid-amount);
@c-error-dark: darken(@c-error, @dark-solid-amount);
@c-text-note-dark: lighten(#1a1a1a, @dark-light-amount);
@c-border-less-dark: darken(@c-border-light, @dark-border-amount);

@mobile: ~'only screen and (max-width: 800px)';
@tablet: ~'only screen and (min-width: 801px) and (max-width: 1050px)';
@desktop: ~'only screen and (min-width: 1051px)';
@not-desktop: ~'not screen and (min-width: 1051px)';
