/** 此文件由脚本自动生成，请勿直接修改，若有变更请维护bui-styles/registry/*.mjs，再执行`pnpm theme`更新主题 */
.default-dark() {
  --bui-color-fg-default: #f0f6fc;
  --bui-color-fg-muted: #8b949e;
  --bui-color-fg-subtle: #484f58;
  --bui-color-fg-disabled: #484f58;
  --bui-color-bg-default: #010409;
  --bui-color-bg-view: #161b22;
  --bui-color-bg-popover: fade(#484f58, 70%);
  --bui-color-bg-alpha-light-9: fade(#161b22, 90%);
  --bui-color-bg-alpha-light-7: fade(#161b22, 70%);
  --bui-color-bg-alpha-light-5: fade(#161b22, 50%);
  --bui-color-bg-alpha-light-3: fade(#161b22, 30%);
  --bui-color-bg-alpha-light-1: fade(#161b22, 10%);
  --bui-color-bg-alpha-dark-9: fade(#484f58, 90%);
  --bui-color-bg-alpha-dark-7: fade(#484f58, 70%);
  --bui-color-bg-alpha-dark-5: fade(#484f58, 50%);
  --bui-color-bg-alpha-dark-3: fade(#484f58, 30%);
  --bui-color-bg-alpha-dark-1: fade(#484f58, 10%);
  --bui-color-border-default: #30363d;
}
