/** 此文件由脚本自动生成，请勿直接修改，若有变更请维护bui-styles/registry/*.mjs，再执行`pnpm theme:js2less`更新主题 */
.dm-light() {
  --bui-color-red: #ff3299;
  --bui-color-red-light: #ffeaf5;
  --bui-color-red-dark: #e62d8a;
  --bui-color-yellow: #ffaf00;
  --bui-color-yellow-light: #fff7e5;
  --bui-color-yellow-dark: #e59d00;
  --bui-color-lemonyellow: #fff36f;
  --bui-color-lemonyellow-light: #ffffeb;
  --bui-color-lemonyellow-dark: #b3a13d;
  --bui-color-green: #0cdc87;
  --bui-color-green-light: #e6fbf3;
  --bui-color-green-dark: #0bc679;
  --bui-color-purple: #754dff;
  --bui-color-purple-light: #f6f0ff;
  --bui-color-purple-dark: #3924b3;
  --bui-color-blue: #30aeff;
  --bui-color-blue-light: #eaf7ff;
  --bui-color-blue-dark: #2b9ce5;
  --bui-color-aiblue: #5cfffa;
  --bui-color-aiblue-light: #f0fffc;
  --bui-color-aiblue-dark: #00898e;
  --bui-color-primary-start: var(--bui-color-red);
  --bui-color-primary-end: #ff4a72;
  --bui-color-info-start: #51bbff;
  --bui-color-info-end: var(--bui-color-blue);
  --bui-color-warning-start: #ffc341;
  --bui-color-warning-end: var(--bui-color-yellow);
  --bui-color-success-start: var(--bui-color-green);
  --bui-color-success-end: #00c474;
  --bui-color-danger-start: var(--bui-color-red);
  --bui-color-danger-end: #ff4a72;
  --bui-color-border-primary: rgba(255, 50, 153, 0.4);
  --bui-color-border-info: rgba(48, 174, 255, 0.4);
  --bui-color-border-success: rgba(12, 220, 135, 0.4);
  --bui-color-border-warning: rgba(255, 175, 0, 0.4);
  --bui-color-border-danger: rgba(255, 50, 153, 0.4);
}
