/** 此文件由脚本自动生成，请勿直接修改，若有变更请维护bui-styles/registry/*.mjs，再执行`pnpm theme:js2less`更新主题 */
.pioneer-light() {
  --bui-font-family-accent: 'AlibabaPuHuiTi-Heavy', 'PingFang SC',
    'Chinese Quote', 'Segoe UI', roboto, 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', helvetica, arial, sans-serif;
  --bui-color-primary: #ff7600;
  --bui-color-primary-light: #ffefe5;
  --bui-title-size-4: 14px;
  --bui-color-fg-default: #181818;
  --bui-color-fg-disabled: rgba(24, 24, 24, 0.5);
  --bui-color-border-primary: rgba(20, 138, 255, 0.4);
  --bui-color-primary-start: #ff9c0d;
  --bui-color-primary-end: #ff6813;
  --bui-color-info-start: #17b6ff;
  --bui-color-info-end: #48d3ff;
  --bui-color-warning-start: #ffcf02;
  --bui-color-warning-end: #ffb205;
  --bui-shape-radius-drawer: 15px;
  --bui-shape-radius-card: 12px;
  --bui-shape-radius-default: 9px;
  --bui-btn-full-height: 45px;
  --bui-btn-large-height: 30px;
  --bui-btn-full-font-size: 18px;
  --bui-btn-full-font-family: var(--bui-font-family-accent);
  --bui-btn-small-border-radius: 6px;
  --bui-btn-border-radius: 6px;
  --bui-btn-large-border-radius: 7px;
  --bui-btn-full-border-radius: 14px;
  --bui-card-header-title-font-size: var(--bui-title-size-3);
  --bui-tab-font-size: var(--bui-title-size-4);
  --bui-tab-color: var(--bui-color-fg-muted);

  /* prettier-ignore */
  --bui-tabs-indicator-height: 4PX;
  --bui-tabs-indicator-border-radius: 2px;
  --bui-tabs-indicator-box-shadow: 0 2px 4px 0 rgba(255, 98, 0, 0.2);
}
