.icon-container {
  display: flex;
  color: #2e333e;
  font-size: 15px;
  width: 100%;

  .bui-radio-group {
    width: 80px;
    flex: 0 0 auto;
    margin-right: 12px;
  }

  .icon-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .bui-input-wrapper {
    width: 70%;
    background: var(--bui-color-bg-default);
    margin-bottom: 9px;
  }
}

.icon-container-hint {
  font-size: 13px;
  color: var(--bui-color-success);
  padding: 0 12px 9px;
}

.icon-container-content {
  overflow: auto;
}

.icon-container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--bui-color-bg-view);
}

.modal-content div:first-child {
  font-weight: bolder;
  font-size: 20px;
}

.modal-content div:nth-child(n + 2) {
  user-select: all;
}

.modal-content div:nth-child(n + 2)::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-item {
  width: 128px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--bui-color-fg-default);
  background: var(--bui-color-bg-default);
  flex-direction: column;
  border-radius: 6px;
  margin: 5px;
  padding: 9px;
  cursor: pointer;
}

.icon-name {
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 3px;
  text-align: center;
  width: 100%;
  color: var(--bui-color-fg-default);
}
