@import '~@bifrostui/styles/mixins/index.less';

.bui-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 10px;
  box-sizing: border-box;
  border-radius: var(--bui-shape-radius-default);
  border: 1px solid var(--bui-color-border-default);
  font-family: var(--bui-font-family);

  &-icon {
    display: flex;
    align-items: center;
    color: var(--bui-color-fg-subtle);
    font-size: var(--bui-title-size-3);

    &-start {
      margin-right: 3px;
    }

    &-end {
      margin-left: 3px;
    }
  }

  &-input {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    color: var(--bui-color-fg-default);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--bui-text-size-2);

    &::placeholder {
      color: var(--bui-color-fg-subtle);
    }
  }

  &-disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.04);

    .bui-input-input {
      color: var(--bui-color-fg-disabled);

      &::placeholder {
        color: var(--bui-color-fg-disabled);
      }
    }
  }

  &-clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--bui-color-fg-disabled);
    height: 100%;
    font-size: var(--bui-title-size-3);
  }

  .bui-mini-placeholder {
    // 处理小程序placeholder较长被截断问题
    width: auto;
  }
}
