.bui-steps {
  --title-font-size: var(--bui-title-size-4);
  --title-font-weight: var(--bui-font-weight-medium);
  --subtitle-font-size: var(--bui-text-size-2);
  --description-font-size: var(--bui-text-size-3);
  --step-icon-margin: var(--bui-spacing-xs) var(--bui-spacing-xs) 0 0;
  --step-line-padding: 20px 0 3px 0;

  display: flex;
  font-size: var(--bui-title-size-3);
  font-family: var(--bui-font-family);

  &-vertical {
    flex-direction: column;
  }
}
