.home-wrapper {
  padding: 0 0 30px;

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;

    .logo {
      width: 104px;
      height: 30px;
    }

    .desc {
      display: flex;

      .desc-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }

      .desc-summary {
        font-size: 14px;
        padding: 9px 0 0;
      }
    }
  }

  .group-wrapper {
    .group-item {
      .group-name {
        font-size: 16px;
        font-weight: 500;
        padding: 9px 12px;
        background-color: var(--bui-color-bg-default);
      }

      .component-list {
        padding: 9px 12px;
        color: #484f58;

        .component-item {
          padding: 9px;
          margin-bottom: 9px;
          border: 1px solid var(--bui-color-border-default);
          border-radius: 9px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
