.bui-collapse-panel {
  width: 100%;
  background-color: var(--bui-color-bg-view);
  color: var(--bui-color-fg-default);
}

.bui-collapse-panel-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.bui-collapse-panel-item-header-label {
  padding: var(--bui-spacing-lg) 0;
  font-size: var(--bui-title-size-2);
}

.bui-collapse-panel-item-header-icon-arrow {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.bui-collapse-panel-item-header-icon-arrow-active {
  transform: rotate(-180deg);
}

.bui-collapse-panel-item-content {
  padding: var(--bui-spacing-lg) 0;
  font-size: var(--bui-text-size-1);
  transition: height 0.5s ease;
  overflow: hidden;
}
