@import '@bifrostui/styles/mixins/index.less';

.btn-icon() {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
}

.btn-outline(@color) {
  color: var(~'--bui-color-@{color}');
  border-color: var(~'--bui-color-@{color}');
}

.btn-contained(@color) {
  color: var(--bui-color-white);
  .linear-gradient(var(~'--bui-color-@{color}-start'), var(~'--bui-color-@{color}-end'));
}

.btn-light(@color) {
  color: var(~'--bui-color-@{color}');
  background: var(~'--bui-color-@{color}-light');
}

.btn-text(@color) {
  --bui-btn-color: var(~'--bui-color-@{color}');
}

.bui-btn {
  --bui-btn-font-size: var(--bui-text-size-3);
  --bui-btn-font-weight: var(--bui-font-weight-medium);
  --bui-btn-border-radius: 120px;
  --bui-btn-height: 27px;
  --bui-btn-color: var(--bui-color-fg-muted);
  --bui-btn-bg: var(--bui-color-bg-view);
  --bui-btn-opacity: 1;
  --bui-btn-padding: 0 14px;
  --bui-btn-border: 0;
  --bui-btn-font-family: var(--bui-font-family);

  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: var(--bui-btn-color);
  background: var(--bui-btn-bg);
  font-size: var(--bui-btn-font-size);
  font-weight: var(--bui-btn-font-weight);
  border: var(--bui-btn-border);
  border-radius: var(--bui-btn-border-radius);
  height: var(--bui-btn-height);
  padding: var(--bui-btn-padding);
  line-height: var(--bui-line-height);
  font-family: var(--bui-btn-font-family);
  opacity: var(--bui-btn-opacity);

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &::after {
    border: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--bui-color-black);
    border: inherit;
    border-color: var(--bui-color-black);
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:active::before {
    opacity: 0.04;
  }

  &-icon-start {
    .btn-icon();
    margin-right: var(--bui-spacing-xs);
  }

  &-icon-end {
    .btn-icon();
    margin-left: var(--bui-spacing-xs);
  }

  &-disabled {
    pointer-events: none;

    --bui-btn-opacity: 0.5;
  }

  &-small {
    --bui-btn-height: 24px;
    --bui-btn-font-size: var(--bui-text-size-4);
    --bui-btn-padding: 0 11px;
  }

  &-large {
    --bui-btn-height: 33px;
    --bui-btn-font-size: var(--bui-text-size-2);
  }

  &-full {
    --bui-btn-height: 42px;
    --bui-btn-font-size: var(--bui-title-size-4);
    width: 100%;
  }

  &-text {
    --bui-btn-bg: none;

    &.bui-btn-primary {
      --bui-btn-color: var(--bui-color-primary);
    }

    &.bui-btn-success {
      --bui-btn-color: var(--bui-color-success);
    }

    &.bui-btn-info {
      --bui-btn-color: var(--bui-color-info);
    }

    &.bui-btn-warning {
      --bui-btn-color: var(--bui-color-warning);
    }

    &.bui-btn-danger {
      --bui-btn-color: var(--bui-color-danger);
    }

    &.bui-btn-light {
      --bui-btn-color: var(--bui-color-bg-view);
    }

    &.bui-btn-dark {
      --bui-btn-color: var(--bui-color-fg-default);
    }

    &.bui-btn-vip {
      --bui-btn-color: var(--bui-color-vip);
    }
  }

  &-contained {
    --bui-btn-bg: var(--bui-color-neutral-5);

    &.bui-btn-primary {
      .btn-contained(primary);
    }

    &.bui-btn-success {
      .btn-contained(success);
    }

    &.bui-btn-info {
      .btn-contained(info);
    }

    &.bui-btn-warning {
      .btn-contained(warning);
    }

    &.bui-btn-danger {
      .btn-contained(danger);
    }

    &.bui-btn-light {
      --bui-btn-color: var(--bui-color-fg-default);
      --bui-btn-bg: var(--bui-color-bg-view);
    }

    &.bui-btn-dark {
      --bui-btn-color: var(--bui-color-bg-view);
      --bui-btn-bg: var(--bui-color-fg-default);
    }

    &.bui-btn-vip {
      --bui-btn-color: #582331;
      --bui-btn-bg: linear-gradient(
        90deg,
        var(--bui-color-vip-start) 3%,
        var(--bui-color-vip-end) 100%
      );
    }
  }

  &-outlined {
    --bui-btn-bg: transparent;
    --bui-btn-border: 1px solid var(--bui-color-neutral-4);

    &.bui-btn-primary {
      .btn-outline(primary);
    }

    &.bui-btn-success {
      .btn-outline(success);
    }

    &.bui-btn-info {
      .btn-outline(info);
    }

    &.bui-btn-warning {
      .btn-outline(warning);
    }

    &.bui-btn-danger {
      .btn-outline(danger);
    }

    &.bui-btn-light {
      --bui-btn-color: var(--bui-color-bg-view);
      --bui-btn-border: solid 1px var(--bui-color-bg-view);
    }

    &.bui-btn-dark {
      --bui-btn-color: var(--bui-color-fg-default);
      --bui-btn-border: solid 1px var(--bui-color-fg-default);
    }

    &.bui-btn-vip {
      .btn-outline(vip);
    }
  }

  &-subtle {
    --bui-btn-bg: var(--bui-color-gray-light);

    &.bui-btn-warning {
      .btn-light(warning);
    }

    &.bui-btn-primary {
      .btn-light(primary);
    }

    &.bui-btn-info {
      .btn-light(info);
    }

    &.bui-btn-success {
      .btn-light(success);
    }

    &.bui-btn-danger {
      .btn-light(danger);
    }

    &.bui-btn-light {
      --bui-btn-color: var(--bui-color-bg-view);
    }

    &.bui-btn-dark {
      --bui-btn-color: var(--bui-color-fg-default);
    }

    &.bui-btn-vip {
      position: relative;

      --bui-btn-color: var(--bui-color-vip);
      --bui-btn-bg: fade(#ff866e, 30%);
    }
  }
}
