.bui-card {
  --bui-card-font-family: var(--bui-font-family);
  --bui-card-font-size: var(--bui-text-size-1);

  background-color: var(--bui-color-bg-view);
  border-radius: var(--bui-shape-radius-card);
  overflow: hidden;
  font-family: var(--bui-card-font-family);
  font-size: var(--bui-card-font-size);
}

.bui-card-header + .bui-card-content {
  padding-top: 0;
}
