.bui-card-footer {
  color: var(--bui-color-fg-muted);
  font-size: var(--bui-text-size-1);
  display: flex;
  align-items: center;
  padding: var(--bui-spacing-md) var(--bui-spacing-lg);
  font-family: var(--bui-font-family);
}
