@import '@bifrostui/styles/mixins/index.less';

@{root-selector} {
  --bui-card-header-padding: var(--bui-spacing-md) var(--bui-spacing-lg);
  --bui-card-footer-padding: var(--bui-spacing-md) var(--bui-spacing-lg);
  --bui-card-header-title-font-size: var(--bui-title-size-4);
  --bui-card-content-font-size: var(--bui-text-size-2);
  --bui-card-footer-font-size: var(--bui-text-size-2);
}

.bui-card {
  background-color: var(--bui-color-bg-view);
  border-radius: var(--bui-shape-radius-card);
  overflow: hidden;
  font-family: var(--bui-font-family);
}

.bui-card-header + .bui-card-content {
  padding-top: 0;
}
