.pioneer-light() {
  /** pioneer 特殊字体 */
  --bui-font-family-accent: 'AlibabaPuHuiTi-Heavy', 'PingFang SC',
    'Chinese Quote', 'Segoe UI', roboto, 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', helvetica, arial, sans-serif;

  /** 品牌红 */
  --bui-color-red: #ff471a;
  --bui-color-red-light: #ffefe6;
  --bui-color-red-dark: #b31800;

  /** 活力橙 */
  --bui-color-orange: #ff7600;
  --bui-color-orange-light: #fff6e6;
  --bui-color-orange-dark: #b34700;

  /** 活力黄 */
  --bui-color-yellow: #ffa608;
  --bui-color-yellow-light: #fffae6;
  --bui-color-yellow-dark: #b36500;

  /** 荧光黄 */
  --bui-color-lemonyellow: #fff36f;
  --bui-color-lemonyellow-light: #ffffeb;
  --bui-color-lemonyellow-dark: #b3a13d;

  /** 亲和绿 */
  --bui-color-green: #40bf00;
  --bui-color-green-light: #f2ffe6;
  --bui-color-green-dark: #1f7300;

  /** 神秘紫 */
  --bui-color-purple: #754dff;
  --bui-color-purple-light: #f6f0ff;
  --bui-color-purple-dark: #3924b3;

  /** 宁静蓝 */
  --bui-color-blue: #229af0;
  --bui-color-blue-light: #f0fbff;
  --bui-color-blue-dark: #0757a3;

  /** 智能蓝 */
  --bui-color-aiblue: #5cfffa;
  --bui-color-aiblue-light: #f0fffc;
  --bui-color-aiblue-dark: #1d858c;

  /** 主题 */
  --bui-color-primary: var(--bui-color-orange);
  --bui-color-primary-light: var(--bui-color-orange-light);
  --bui-color-primary-dark: var(--bui-color-orange-dark);

  /** 语义化字号 */
  --bui-title-size-4: var(--bui-font-size-md1);

  // 用于失效、不可用等状态
  --bui-color-fg-disabled: fade(#030b1a, 50%);

  /** 分割线、边框 */
  --bui-color-border-primary: fade(#ff7600, 40%);
  --bui-color-border-info: fade(#229af0, 40%);
  --bui-color-border-success: fade(#40bf00, 40%);
  --bui-color-border-warning: fade(#ff7600, 40%);
  --bui-color-border-danger: fade(#ff471a, 40%);

  /** 主题色渐变 */
  --bui-color-primary-start: #ffb300;
  --bui-color-primary-end: var(--bui-color-primary);
  --bui-color-info-start: #5bc8ff;
  --bui-color-info-end: var(--bui-color-info);
  --bui-color-warning-start: #fc3;
  --bui-color-warning-end: var(--bui-color-warning);
  --bui-color-success-start: #66d933;
  --bui-color-success-end: var(--bui-color-success);
  --bui-color-danger-start: #ff7633;
  --bui-color-danger-end: var(--bui-color-danger);

  /** 形状定义 */
  --bui-shape-radius-drawer: var(--bui-radius-6);
  // 卡片、普通视图、抽屉、action sheet，常用于信息密度较低的视图
  --bui-shape-radius-card: var(--bui-radius-5);
  // 独立海报、卡片，常用于信息密度较高的视图
  --bui-shape-radius-default: var(--bui-radius-4);

  .bui-btn {
    --bui-button-border-radius: 14px;
    --bui-button-outlined-default-border: 1px solid var(--bui-color-neutral-1);
    --bui-button-text-color: var(--bui-color-fg-default);
    --bui-button-font-weight: 700;
    --bui-button-default-bg-color: var(--bui-color-neutral-1);
    --bui-button-full-height: 45px;

    &.bui-btn-contained {
      &.bui-btn-primary {
        &.bui-btn-large {
          background-image: radial-gradient(
              35px 25px ellipse at 2% 110%,
              #fffe1e 0%,
              rgba(251, 134, 35, 0) 99%
            ),
            radial-gradient(
              35px 25px ellipse at 110% 120%,
              #ff3018 0%,
              rgba(0, 48, 24, 0) 92%
            ),
            linear-gradient(90deg, #fc8622 0%, #ff5000 100%);
        }

        &.bui-btn-full {
          background-image: radial-gradient(
              93px 50px ellipse at 2% 110%,
              #fffe1e 0%,
              rgba(251, 134, 35, 0) 100%
            ),
            radial-gradient(
              93px 50px ellipse at 98% 110%,
              #ff3018 0%,
              rgba(0, 48, 24, 0) 92%
            ),
            linear-gradient(90deg, #fc8622 0%, #ff5000 100%);
        }
      }
    }
  }

  .bui-btn-full {
    --bui-btn-border-radius: 14px;
    --bui-btn-height: 45px;
    --bui-btn-font-size: var(--bui-font-size-md4);
    --bui-btn-font-family: var(--bui-font-family-accent);
  }

  .bui-btn-large {
    --bui-btn-border-radius: 7px;
    --bui-btn-height: 30px;
  }

  .bui-btn-medium {
    --bui-btn-border-radius: var(--bui-radius-3);
  }

  .bui-btn-small {
    --bui-btn-border-radius: var(--bui-radius-3);
  }

  .bui-tabs {
    --bui-tabs-font-size: var(--bui-title-size-4);
    --bui-tabs-active-font-weight: var(--bui-font-weight-bold);
    --bui-tabs-color: var(--bui-color-fg-muted);

    /* prettier-ignore */
    --bui-tabs-indicator-height: 4PX;
    --bui-tabs-indicator-border-radius: 2px;
    --bui-tabs-indicator-box-shadow: 0 2px 4px 0 rgba(255, 98, 0, 0.2);

    .bui-tabs-indicator {
      background-image: linear-gradient(
        90deg,
        #ff9b00 0%,
        #ffa700 21%,
        #ff8300 100%
      );
    }
  }

  .bui-card-header-title {
    --bui-card-font-size: var(--bui-title-size-3);
  }
}
