.bui-avatar {
  --large-size: var(--bui-avatar-large-size, 60px);
  --medium-size: var(--bui-avatar-medium-size, 42px);
  --small-size: var(--bui-avatar-small-size, 30px);
  --xsmall-size: var(--bui-avatar-xsmall-size, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--bui-text-size-3);
  background-color: var(--bui-color-bg-default);
  font-family: var(--bui-font-family);

  &-children {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-large {
    width: var(--large-size);
    height: var(--large-size);
  }

  &-medium {
    width: var(--medium-size);
    height: var(--medium-size);
  }

  &-small {
    width: var(--small-size);
    height: var(--small-size);
  }

  &-xsmall {
    width: var(--xsmall-size);
    height: var(--xsmall-size);
  }
}

.bui-avatar-rounded {
  border-radius: 50%;

  .bui-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.bui-avatar-square {
  border-radius: var(--bui-shape-radius-poster);

  .bui-avatar-img {
    border-radius: var(--bui-shape-radius-poster);
  }
}
