@import '@bifrostui/styles/mixins/index.less';

@{root-selector} {
  --bui-dialog-width: 300px;
  --bui-dialog-border-radius: var(--bui-radius-8);
  --bui-dialog-padding: 24px;
}

.bui-dialog {
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    padding: var(--bui-dialog-padding);
    position: relative;
    width: var(--bui-dialog-width);
    margin: 0 auto;
    border-radius: var(--bui-dialog-border-radius);
    background-clip: padding-box;
    background-color: var(--bui-color-bg-view);
  }

  &-title {
    padding-bottom: 12px;
    font-size: var(--bui-title-size-2);
    text-align: center;
    color: var(--bui-color-fg-default);
    font-weight: var(--bui-font-weight-semibold);
    line-height: 1.4;
    margin: 0;
  }

  &-content {
    padding-bottom: 18px;
    color: var(--bui-color-fg-muted);
    font-size: var(--bui-title-size-4);
    text-align: center;
    line-height: 1.5;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-actions {
    display: flex;
    gap: var(--bui-spacing-lg);
    align-items: center;
    justify-content: center;
  }

  &-input {
    margin-bottom: 18px;
  }
}
