.bui-rating {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--bui-font-family);

  &-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &-container {
    position: relative;
    display: flex;

    &:last-child {
      margin-right: 0;
    }

    &-xsmall {
      font-size: var(--bui-text-size-5);
    }

    &-small {
      font-size: var(--bui-text-size-1);
      margin-right: 0.5px;
    }

    &-medium {
      font-size: var(--bui-title-size-3);
      margin-right: 1px;
    }

    &-large {
      font-size: 22px;
      margin-right: 2px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color: var(--bui-color-fg-disabled);

    &-input {
      display: none;
    }

    &-half {
      position: absolute;
      top: 0;
      width: 50%;
    }

    &-readonly {
      cursor: unset;
    }

    &-active {
      color: var(--bui-color-warning);
    }
  }
}
