@import '@bifrostui/styles/mixins/index.less';

@{root-selector} {
  --bui-tag-color: var(--bui-color-gray);
  --bui-tag-border-color: var(--bui-color-border-gray);
  --bui-tag-bg-color: var(--bui-color-gray);
  --bui-tag-height: 15px;
  --bui-tag-line-height: 15px;
  --bui-tag-padding: 0 var(--bui-spacing-xs);
  --bui-tag-color-vip: fade(#ff866e, 30%);
}

.bui-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: var(--bui-tag-height);
  line-height: var(--bui-tag-line-height);
  padding: var(--bui-tag-padding);
  font-size: var(--bui-text-size-5);
  font-weight: var(--bui-font-weight-normal);
  border-radius: var(--bui-shape-radius-label);
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--bui-color-white);
  font-family: var(--bui-font-family);
  // 描边
  &-outlined {
    color: var(--bui-tag-color);
    border: 1px solid var(--bui-tag-border-color);

    &.bui-tag-primary {
      color: var(--bui-color-primary);
      border: 1px solid var(--bui-color-border-primary);
    }

    &.bui-tag-info {
      color: var(--bui-color-info);
      border: 1px solid var(--bui-color-border-info);
    }

    &.bui-tag-warning {
      color: var(--bui-color-warning);
      border: 1px solid var(--bui-color-border-warning);
    }

    &.bui-tag-success {
      color: var(--bui-color-success);
      border: 1px solid var(--bui-color-border-success);
    }

    &.bui-tag-danger {
      color: var(--bui-color-danger);
      border: 1px solid var(--bui-color-border-danger);
    }

    &.bui-tag-light {
      color: var(--bui-color-bg-view);
      border: 1px solid var(--bui-color-bg-view);
    }

    &.bui-tag-dark {
      color: var(--bui-color-fg-default);
      border: 1px solid var(--bui-color-fg-default);
    }

    &.bui-tag-vip {
      color: var(--bui-color-primary);
      border: 1px solid var(--bui-color-border-primary);
    }
  }

  // 实心
  &-contained {
    background-color: var(--bui-tag-bg-color);

    &.bui-tag-primary {
      background-color: var(--bui-color-primary);
    }

    &.bui-tag-info {
      background-color: var(--bui-color-info);
    }

    &.bui-tag-warning {
      background-color: var(--bui-color-warning);
    }

    &.bui-tag-success {
      background-color: var(--bui-color-success);
    }

    &.bui-tag-danger {
      background-color: var(--bui-color-danger);
    }

    &.bui-tag-light {
      color: var(--bui-color-fg-default);
      background-color: var(--bui-color-bg-view);
    }

    &.bui-tag-dark {
      color: var(--bui-color-bg-view);
      background-color: var(--bui-color-fg-default);
    }

    &.bui-tag-vip {
      background-color: var(--bui-color-vip);
    }
  }

  &-subtle {
    background-color: var(--bui-color-gray-light);
    color: var(--bui-color-gray);

    &.bui-tag-primary {
      background-color: var(--bui-color-primary-light);
      color: var(--bui-color-primary);
    }

    &.bui-tag-info {
      background-color: var(--bui-color-info-light);
      color: var(--bui-color-info);
    }

    &.bui-tag-warning {
      background-color: var(--bui-color-warning-light);
      color: var(--bui-color-warning);
    }

    &.bui-tag-success {
      background-color: var(--bui-color-success-light);
      color: var(--bui-color-success);
    }

    &.bui-tag-danger {
      background-color: var(--bui-color-danger-light);
      color: var(--bui-color-danger);
    }

    &.bui-tag-light {
      color: var(--bui-color-bg-view);
    }

    &.bui-tag-dark {
      color: var(--bui-color-fg-default);
    }

    &.bui-tag-vip {
      background-color: var(--bui-tag-color-vip);
      color: var(--bui-color-vip);
    }
  }
}
