.bui-textarea {
  --bg-color: var(--bui-color-bg-default);
  --text-color: var(--bui-color-fg-subtle);
  --count-bg-color: var(--bg-color, var(--bui-color-bg-default));
  --count-text-color: var(--bui-color-fg-subtle);
  background: var(--bui-color-bg-default);
  font-family: var(--bui-font-family);

  textarea {
    font-size: var(--bui-text-size-2);
    color: var(--text-color);
    line-height: var(--bui-line-height);
  }

  .bui-mini-placeholder {
    color: var(--bui-color-fg-disabled);
  }

  &-disabled {
    pointer-events: none;
  }

  // 隐藏支付宝自带字数标识
  .a-textarea-count-wrap {
    display: none;
  }
}

.bui-textarea-content {
  width: 100%;
  resize: none;
  background: var(--bg-color);
  padding: 8px;
  border: none;
  outline: none;
  word-break: break-all;
  box-sizing: border-box;

  &::placeholder {
    color: var(--bui-color-fg-disabled);
    line-height: 1.3;
  }
}

.bui-textarea-count {
  background: var(--count-bg-color);
  color: var(--count-text-color);
  text-align: right;
  padding: 0 4px;
  font-size: var(--bui-title-size-3);
}
