.bui-progress {
  --fill-color: var(--bui-color-primary);
  --trail-color: rgba(156, 156, 165, 0.2);
  --stroke-width: 8px;
  width: 100%;
  font-family: var(--bui-font-family);

  &-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: var(--trail-color);
    border-radius: 100px;
  }

  &-bg {
    position: relative;
    border-radius: 100px;
    background-color: var(--fill-color);
    height: var(--stroke-width);
  }
}
