@import '@bifrostui/styles/mixins/index.less';

@{root-selector} {
  --bui-picker-header-height: 50px;
  --bui-picker-header-padding: 0 var(--bui-spacing-lg);
  --bui-picker-cancel-height: 100%;
  --bui-picker-cancel-line-height: 50px;
  --bui-picker-confirm-height: 100%;
  --bui-picker-confirm-line-height: 50px;
  --bui-picker-panel-height: 260px;
  --bui-picker-indicator-top: 108px;
  --bui-picker-option-height: 36px;
  --bui-picker-option-font-size: var(--bui-title-size-4);
}

.bui-picker {
  font-family: var(--bui-font-family);

  .bui-drawer-content {
    border-radius: var(--bui-shape-radius-drawer) var(--bui-shape-radius-drawer)
      0 0;
  }

  &-header {
    height: var(--bui-picker-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bui-picker-header-padding);
  }

  &-cancel {
    cursor: pointer;
    height: var(--bui-picker-cancel-height);
    font-size: var(--bui-title-size-4);
    text-align: center;
    line-height: var(--bui-picker-cancel-line-height);
    color: var(--bui-color-fg-default);
  }

  &-title {
    font-size: var(--bui-title-size-3);
    color: var(--bui-color-fg-default);
    font-weight: var(--bui-font-weight-medium);
  }

  &-confirm {
    cursor: pointer;
    height: var(--bui-picker-confirm-height);
    font-size: var(--bui-title-size-4);
    text-align: center;
    line-height: var(--bui-picker-confirm-line-height);
    color: var(--bui-color-primary);
  }

  &-container {
    width: 100%;
    height: var(--bui-picker-panel-height);
    display: flex;
    overflow: hidden;
  }
}
