.bui-breadcrumb {
  --margin: var(--bui-breadcrumb-margin, 0);
  --padding: var(--bui-breadcrumb-padding, 0);
  --color: var(--bui-breadcrumb-color, rgba(0, 0, 0, 0.45));
  --item-separator-margin: var(--bui-breadcrumb-item-separator-margin, 0 8px);
  --list-li-color: var(--bui-breadcrumb-list-li-color, rgba(0, 0, 0, 0.88));

  margin: var(--margin);
  padding: var(--padding);
  color: var(--color);
  list-style: none;
  font-size: var(--bui-text-size-1);
  line-height: var(--bui-line-height);

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: var(--margin);
    padding: var(--padding);
    list-style: none;
  }

  &-list a {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
  }

  &-list li:last-child {
    color: var(--list-li-color);
  }

  &-item {
    cursor: pointer;
  }

  &-item-separator {
    margin: var(--item-separator-margin);
  }
}
