@import '~@bifrostui/styles/index.less';

.h5-span {
  display: inline;
}

.demo-wrapper {
  overflow: hidden auto;
}

.demo-component {
  max-width: 100%;
}

.demo-component-container {
  border: solid 1px var(--bui-color-border-default);
  border-width: 1px 0;
  margin: 0 -12px;
  padding: 9px 12px;
}

.heading {
  padding: 12px 0 6px;
}
