@holderWidth: 12px;

.bui-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: min-content;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  font-size: var(--bui-tabs-font-size);
  line-height: var(--bui-line-height);
  color: var(--bui-tabs-color);
  padding: var(--bui-tab-padding);
  font-family: var(--bui-tabs-font-family);

  &-active {
    line-height: var(--bui-line-height);

    --bui-tabs-color: var(--bui-color-fg-default);
  }

  &-miniapp-active {
    line-height: 1.5;
    font-weight: var(--bui-font-weight-medium);

    --bui-tabs-color: var(--bui-color-fg-default);
    position: relative;

    &-line {
      position: absolute;
      bottom: 0;
      left: -@holderWidth;
      right: -@holderWidth;
      margin: 0 auto !important;
      width: 18px;
      height: 2px;
      transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: var(--bui-color-primary);
    }
  }

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.bui-indicator-invisible {
  visibility: hidden;
  background-color: transparent;
}
