@class-prefix-tabs: ~'bui-tabs';

.@{class-prefix-tabs} {
  position: relative;
  font-family: var(--bui-tabs-font-family);
  font-weight: var(--bui-tabs-font-weight);

  &-tabs {
    height: var(--bui-tabs-height);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  &-indicator {
    position: absolute;
    width: var(--bui-tabs-indicator-width);
    bottom: var(--bui-tabs-indicator-bottom);
    height: var(--bui-tabs-indicator-height);
    color: var(--bui-color-primary);
    background: var(--bui-tabs-indicator-bg);
    border-radius: var(--bui-tabs-indicator-border-radius);
    box-shadow: var(--bui-tabs-indicator-box-shadow);
  }

  &-content {
    padding: var(--bui-spacing-lg);
  }

  &-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 12px;
    height: 100%;
    pointer-events: none;
  }

  &-mask-left {
    left: 0;
    background: linear-gradient(
      to right,
      var(--bui-color-bg-view),
      rgba(255, 255, 255, 0)
    );
  }

  &-mask-right {
    right: 0;
    background: linear-gradient(
      to left,
      var(--bui-color-bg-view),
      rgba(255, 255, 255, 0)
    );
  }
}

.bui-indicator-invisible {
  visibility: hidden;
  background-color: transparent;
}
