@import '@bifrostui/styles/mixins/index.less';
@class-prefix-desktop-picker: ~'bui-desktop-picker';
@transition-duration: 0.3s;

.@{class-prefix-desktop-picker} {
  position: relative;

  &-container {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    z-index: var(--bui-z-index-dropdown);
    background-color: var(--bui-color-bg-view);
    padding: 2px;
    overflow: hidden;
  }

  &-container-top {
    bottom: 100%;
    margin-bottom: 6px;
  }

  &-container-bottom {
    top: 100%;
    margin-top: 6px;
  }
}
